html
	head
		block title
			title Introduction
		meta(charset="utf-8")
		link(rel="stylesheet" href="style.css")
		link(rel="stylesheet" href="fonts/stylesheet-min.css")
	body
		block content
		block menu
			.main-nav__wrapper
				ul.main-nav__items
					li 
						a.active 1
					li 
						a 2