extends base.pug

block content
	.window-fix_small
			.intro-header 
				| Легкая Жизнь
				p Бесплатный цифровой помощник для улучшения дома и жизни
			.intro-button
				a(href="advices") Активировать помощника