html
  head
    title Список страниц
  body
    h3 Список страниц
    ul
      li 
        a(href="list.html") Список
      li 
        a(href="article.html") Статья
      li 
        a(href="profile.html") Профиль
