body {
  margin: 0 auto;
  font-family: 'FF Meta Pro';
  font-weight: 300;
  font-style: normal;
}
 
.window-fix_small {
  width: 320px;
  opacity: 0.95;
  margin: 0 auto;
  background-image: url("img/group.jpg");
  background-repeat: no-repeat;
}

.intro-header {
  padding-top: 39px;
  padding-left: 30px;
  font-size: 60px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.07;
  letter-spacing: 2.2px;
  color: #000000;
}

.intro-header p {
  display: block;
  width: 234px;
  padding-top: 32px;
  padding-bottom: 50px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #232323;
}

a.intro-button {
  display: block;
  width: 200px;
  border-radius: 6px;
  background-color: #0a2896;
  text-decoration: none;
  text-align: center;
  padding: 19px 11px 15px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.intro-logo img {
  display: block;
  margin: 98px 0px 20px 10px;
  padding: 0;
  width: 127px;
  height: 46px;
}

.main-nav {
  background-color: #00aaff;
}

.main-nav__header {
  /*width: 1200px;*/
  position: relative;
  display: flex;
  justify-content: center;

  /*width: 320px;*/
  height: 56px;
}

.main-nav__toggle {
  position: absolute;
  z-index: 2;
  display: block;
  top: 21px;
  left: 29px;
  width: 18px;
  height: 14px;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.main-nav__closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 18px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 6px 0 0 #ffffff, 0 12px 0 0 #ffffff;
}

.main-nav__header p {
  display: flex;

  /*display: inline-block;*/
  padding-top: 14px;

  margin: 0;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  color: #ffffff;
}

.main-nav__wrapper {
  /*width: 1200px;*/
  
overflow: auto;
    white-space: nowrap;
  /*width: 320px;*/
  height: 47px;
  background-color: #ffffff;
}

/*@media (max-width: 320px) {
  .main-nav__wrapper {
    width: 320px;
    display: block;
  
  
  }
}

@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 1200px;

    display: flex;
  justify-content: center;
  }
} */

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-left: 16px;
}

/*не работает */

.main-nav__items li {
  /*display: inline-flex;*/

  display: inline-block;
  padding: 12px 0px;
  text-align: center;
}

.main-nav__items a {
  text-decoration: none;
  padding: 17px 9px 0px;
  opacity: 0.5;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #222222; 
  font-size: 14px;
}

.main-nav__items .main-nav__item--active {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #000000;
  opacity: 1;
}

.cards {
  
  background-color: #f1f2f4;
  box-shadow: inset 0px 3px 3px 0px #dcdee0;
}

@media (max-width: 320px) {
  .cards {
    width: 288px;
    padding: 0px 16px;
  }
}

@media (min-width: 1200px) {
  .cards {
    /*width: 1200px;*/
    padding: 0px 30px;
  margin-bottom: 30px;
  }
} 

.cards-header {
  

  margin-bottom: 20px;
}

@media (max-width: 320px) {
  .cards-header {
    width: 250px;
  }
}

@media (min-width: 1200px) {
  .cards-header {
    width: 1200px;
    text-align: center;
  }
} 

.cards a {
  text-decoration: none;
}

.cards-header h2 {
  margin: 0;
  padding-top: 24px;
  font-size: 36px;
  font-family: FFMetaPro-Medium;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  color: #232323;
}

.cards-header p {
  width: 555px;
  margin: 0 auto;
  padding-top: 16px;

  display: block;
  opacity: 0.5;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: 0.18px;
  color: #232323;
}

.cards__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  position: relative;
  z-index: 1;
  padding-bottom: 1px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 #e8ecf3;
}

@media (max-width: 1199px) {
  .card {
     margin: 0px 0px 16px; 
     width: 288px;
     height: 300px;
  }
}

@media (min-width: 1200px) {
  .card {
    /*display: inline-flex;*/
    width: 360px;
    min-height: 475px;
    flex-wrap: nowrap;
    margin: 0px 0px 30px;
  }
} 

.card img {
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 6px 6px 0px 0px;
}

@media (max-width: 320px) {
  .card img {
    width: 288px;
    height: 300px;
  }
}

@media (min-width: 1200px) {
  .card img {
    width: 360px;
    height: 375px;
  }
} 

.card h3 {
  display: block;
  /*width: 256px;*/
  margin: 0px;
  padding: 17px 16px 0px;
  font-family: FFMetaPro-Medium;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: -0.1px;
  color: #111111;
}

.card p {
 /* width: 256px;*/
  height: 125px;
  margin: 0px;
  padding: 2px 16px 16px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.1px;
  color: #111111;
}

@media (max-width: 320px) {
  .card p {
    width: 256px;
  }
}

.card .purchase-description {
  opacity: 0.6;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #111111;
}

.card .purchase-price {
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #000000;
}

.hidden {
  display: none;
  content: "";
  position: absolute;
  width: 360px;
  height: 283px;
  left: 0px;
  bottom: 0px;
  padding-bottom: 1px;
  border-radius: 0 0 6px 6px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 #e8ecf3;
  z-index: 2;
}

.insurances__insurance:hover .hidden {
  display: block;
}

.insurances__button {
 
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

@media (max-width: 320px) {
  .insurances__button {
    margin: 7px auto 25px;
  }
}

@media (min-width: 1200px) {
  .insurances__button {
    margin: 20px auto 5px;
  }
} 

.inner-page {
  
  background-color: #000000;
}

@media (max-width: 320px) {
  .inner-page {
    width: 320px;
  }
}

.inner-page ul {
  padding: 0px;
}

.inner-page__header {
  position: relative;
  min-height: 360px;
}

@media (max-width: 320px) {
  .inner-page__header {
    width: 320px;
  }
}
@media (min-width: 600px) {
  .inner-page__header {
    width: 555px;
  }
}

.inner-page__menu {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 56px;
  height: 56px;
  background-color: #00aaff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.24);
}

.arrow__toggle {
  position: absolute;
  top: 10px;
  left: 10px;
}

.inner-page__gradient {
  width: 320px;
  min-height: 360px;
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);

  z-index: 2;
}

.inner-page__header h2 {
  margin: 0px;
  padding: 182px 0px 0px 16px;
  font-family: FFMetaPro-Medium;
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: -0.2px;
  color: #ffffff;
}

.inner-page__header p {
  margin: 0;
  padding: 10px 16px;
  font-family: FFMetaPro-LightItalic;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
}

.inner-page__background {
  position: absolute;
  display: block;
  top: 0px;
  margin: 0;
  padding: 0;

  z-index: 1;
}

.inner-page__list {
  margin: 0 auto;
  border-radius: 6px;
  background-color: #ffffff;
}

@media (max-width: 320px) {
  .inner-page__list {
    width: 312px;
  }
}

@media (min-width: 1200px) {
  .inner-page__list {
    width: 760px;
   }
} 

.inner-page__list li {
  list-style: none;
  margin: 0px;
  padding: 25px 14px 0px 12px;
}

.inner-page__list h3 {
  margin: 0px;
  padding: 0px;
  opacity: 0.8;
  font-family: FFMetaPro-Medium;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #232323;
}

.inner-page__list p {
  opacity: 0.4;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #232323;
}

.inner-page__footer {
  width: 320px;
}

.inner-page__button {
  display: block;
  padding-top: 15px;
  padding-bottom: 12px;
  margin: 0 auto;
  width: 288px;
  border-radius: 8px;
  background-color: #e62632;
  font-family: FFMetaPro-Black;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  line-height: 1.38;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.inner-page__footer p {
  margin: 0;
  padding-top: 19px;
  padding-bottom: 70px;
  opacity: 0.6;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}


/* WRAPPERS */
.wrapper--navigation {
  max-width: 1170px;
  margin: auto;
}

.secondNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
