.contacts__user {
  input {
    height: 49px;
    background-color: #ffffff;
  }

  .user {
    &-info {
      padding-left: 0;
    }
    &-icon {
      position: relative;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 55px;
    left: 0px;
    width: 537px;
    height: 2px;
    background-color: #f1f2f4;;
  }
}

.contacts__user-question {
  flex-direction: column;
  &::before {
    top: 105px;
  }
  .user {
    &-info {
    width: 90px;
    }
    &-icon {
      text-align: left;
      resize: none;
    }
  }
}

.contacts__button {
  margin: 0 auto;
  width: 300px;
  margin-top: 47px;
  letter-spacing: normal;
}

@media (max-width: 1023px) {
  .contacts__user::before {
    width: 288px;
  }
  .contacts__user-question .user-icon {
    width: 280px;
  }
  textarea.user-icon {
    height: 40px;
  }
  .contacts__button {
    width: 288px;
  } 
}

@media (min-width: 1024px) {
  .contacts {
    &__user-question .user-icon {
      width: 537px;
    }
    &__user::before {
      width: 537px;
    }
    &__button {
      width: 300px;
    }
    &__login-form {
      width: 637px;
      height: 332px;
      margin: 0 auto;
      margin-top: 50px;
      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.34);
    }
    &__user {
      margin: 0 auto;
      width: 537px;
      position: relative;
    }
  }
}

