@media (max-width: 1023px) {
  .landing {
    &-title {
    font-size: 60px;
    font-weight: 300;
    line-height: 1.07;
    letter-spacing: 2.2px;
    /*padding-top: 50px;*/
  }
    &-logo img {
      margin: 57px 0px 20px 10px;
    }
  }
  p.landing-description {
    width: 170px;
    font-size: 18px;
    line-height: 1.33;
  }
}

@media (min-width: 1024px) {
  .landing {
    &-header {
      background-image: linear-gradient(124deg, #ffffff, #f1f2f4);
      .window-fix_big__wrapper{
        width: 1062px;
      }
    }
    &-title {
      font-size: 80px;
      font-weight: 300;
      line-height: 1.05;
      letter-spacing: 2.9px;
      /*padding-top: 96px;*/
    }
    &-logo img {
      margin: 77px 0px 20px 10px;
    }
  }
  p.landing-description {
    width: 324px;
    font-size: 23px;
    line-height: 1.39;
  }
}

.landing-title {
  font-style: normal;
  font-stretch: normal;
  color: #000000;
  padding-top: 50px;
}

p.landing-description {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #232323;
}

.landing-links {
  width: 222px;
}

a.personal-cabinet {
  padding-left: 23px;
  margin-top: 24px;
  display: block;
  text-decoration: none;
  opacity: 0.4;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.section__title {
  font-family: 'FF Meta Pro';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #232323;
  margin-top: 64px;
  margin-bottom: 50px;
}

@media (max-width: 1023px) {
  .section__title {
    font-size: 30px;
    line-height: 1.33;
    letter-spacing: 1.3px;
  }
}

@media (min-width: 1024px) {
  .section__title {
    font-size: 48px;
    line-height: 0.9;
    letter-spacing: 2px;
  }
}

.advice__switches {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(229, 229, 229, 0.3);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.advice__switches input {
  display: none;
}

.switch__toggle {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5c5c5c;
}

label.switch__toggle {
   cursor: pointer;
}

#switch-1:checked ~ .switch__toggle,
#switch-2:checked ~ .switch__toggle {
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.17);
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2000;
}

@media (max-width: 1023px) {
  .advice__switches {
    width: 288px;
    height: 66px;
    border-radius: 33px;
  }
  .switch__toggle {
    padding: 0 11px;
  }
  #switch-1:checked ~ .switch__toggle {
    height: 60px;
    padding: 0 10px;
    border-radius: 30px;
  }
  #switch-2:checked ~ .switch__toggle {
    height: 60px;
    padding: 0 10px;
    border-radius: 30px;
  }
}

@media (min-width: 1024px) {
  .advice__switches {
    width: 525px;
    height: 52px;
    border-radius: 50px;
  }
  .switch__toggle {
    padding: 0 30px;
  }
  #switch-1:checked ~ .switch__toggle {
    height: 46px;
    padding: 0 29px;
    border-radius: 50px;
  }
  #switch-2:checked ~ .switch__toggle {
    height: 46px;
    padding: 0 29px;
    border-radius: 50px;
  }
}

/*slider*/

.advice__slide a {
  text-decoration: none;
}
.advice__slide {
  /*width: 410px;
  height: 524px;*/
  text-decoration: none;
  opacity: 0.4;
  transition: all .3s;
  transform: scale(0.9);
  cursor: pointer;
}

.owl-item.active.center .advice__slide {
  opacity: 1;
  transform: scale(1);
}

button.owl-dot,
button.owl-dot .active {
  outline: none;
}

.carousel-hidden {
  display: none;
}

/*results*/

.results {
  width: 970px;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .results {
    width: 289px;
    margin: 0 auto;
  }
  .results__wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .results {
    width: 970px;
    margin: 0 auto;
  }
  .results__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.feature-small {
  display: flex;
  flex-direction: column;
  
  width: 253px;
}

.feature-small h3 {
  font-family: 'FF Meta Pro Med';
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: #232323;
  
  margin: 0;
  padding-top: 33px;
}

.feature-small p {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: #232323;

  padding-top: 25px
}

.image-container {
  height: 74px;
  margin-top: 6px;
}

.life-img {
  transform: translateY(3px);
}

@media (max-width: 1023px) {
  .acquaintance__wrapper,
  .needs__wrapper {
    width: 289px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .acquaintance__wrapper,
  .needs__wrapper {
    width: 758px;
    margin: 0 auto;
  }
}

.landing-list li {
  display: block;
}

.landing-list p {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #232323;
}

.tick-text {
  position: relative;
}

.tick-text:before {
  content: "";
  position: absolute;
  width: 22px;
  height: 21px;
  top: 5px;
  background-image: url("img/mark.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1023px) {
  .landing-list p {
    padding-bottom: 20px;
  }
  .tick-text:before {
    left: -39px;
  }
}

@media (min-width: 1024px) {
  .landing-list p {
    padding-bottom: 37px;
    padding-left: 33px;
  }
  .tick-text:before {
    left: -27px;
  }
}

.landing-list__number,
.landing-list__text {
  display: inline-flex;
}

.landing-list__number {
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3a4a8c;
  width: 18px;
  border: 2px solid #3a4a8c;
  border-radius: 50%;
  padding: 4px 15px 3px 19px;
}



@media (max-width: 1023px) {
  .landing-list__number {
    display: block;
    margin: 0 auto;
  }
  .acquaintance__wrapper .intro-button {
    margin: 0 auto;
    width: 288px;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
}

@media (min-width: 1024px) {
  .landing-list__number {

    transform: translateY(16px);
  }
    p.landing-list__text {
    width: 668px;
    padding-left: 19px;
  }
  .acquaintance__wrapper .intro-button {
  margin: 0 auto;
  width: 400px;
}
}

.landing-list__acquaintance {
  padding-left: 0px;
}



.landing-footer {
  background-color: #101012;
  
}

.landing-footer__contact-info {
  /*width: 736px;*/
  display: flex;
  margin: 0 auto;
  margin-top: 62px;
  /*justify-content: space-between;*/
}

@media (max-width: 1023px) {
  .landing-footer__contact-info {
    width: 320px;
    flex-direction: column;
    min-height: 217px;
  }
  .landing-footer__contact-info li {
    padding-bottom: 0px;
  }
  .landing-footer__contact-info li:last-child {
    padding-bottom: 23px;
  }
}

@media (min-width: 1024px) {
  .landing-footer__contact-info {
    width: 736px;
    justify-content: space-between;
  }
  .landing-footer__contact-info li {
    padding-bottom: 23px;
  }
  .landing-footer__copyright-link {
    padding-top: 15px;
  }
}

.landing-footer__contact-info li {
  margin: 0;
  padding-top: 21px;
  display: flex;
}

.landing-footer__contact-info a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.landing-footer__copyright {
  background-color: #000000;
}

.landing-footer__copyright-link {
  width: 85px;
  margin: 0 auto;
}

.landing-footer__copyright-link p {
  display: block;
  margin: 0 auto;
  padding-top: 16px;
  opacity: 0.4;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.landing-footer__copyright-link a {
  text-decoration: none;
  display: block;
}

.landing-footer__copyright-link img {
  margin: 7px 0 15px;
}
