@font-face {
    font-family: 'FF Meta Pro';
    src: url('FFMetaPro-Light.woff2') format('woff2'),
        url('FFMetaPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FF Meta Pro Normal';
    src: url('FFMetaPro-Normal.woff2') format('woff2'),
        url('FFMetaPro-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FF Meta Pro';
    src: url('FFMetaPro-Bold.woff2') format('woff2'),
        url('FFMetaPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FF Meta Pro Med';
    src: url('FFMetaPro-Medium.woff2') format('woff2'),
        url('FFMetaPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FF Meta Pro';
    src: url('FFMetaPro-Black.woff2') format('woff2'),
        url('FFMetaPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

